@import './varAndOthers';

.navigation{
  position: fixed;
  right:0;
  height: 100vh;
  width: 5vw;
  background: $blackColor;

  & .logo-div{
    width:80%;
    height: 7%;
    margin:1rem auto;
    
    & img{
      width:100%;
      height: 100%;
    }
  }
  & .menu-nav{
    display: flex;
    flex-direction: column;
    height: 30vh;
    margin-top:5rem;
    justify-content: space-between;
    align-items: center;
    & .nav-item{
      list-style: none;

      & .nav-link{
        color:$iconColor;
        font-size:1.5rem;
        @include fontTransition;
        &.current{
          color:$seaColor;
        }
      
        &:hover{
          color:$seaColor;
        }
      }
    }
  }
  & .social-media{
    margin-top:10rem;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & a {
      color:$iconColor;
      @include fontTransition;
    
      &:hover{
        color:$seaColor;
      }
    }
  }
}

.nav-mobile{
  z-index: 9999;
  height: 7vh;
  background: lighten($color: $blackColor, $amount: 1);
  padding:0.5rem;
  
  & .menu-wrapper{
    & .logo-div{
      width:15%;
      height: 100%;
      & img{
        width:100%;
        height: 100%;
      }
    }
    & .menu-btn{
    position: absolute;
    z-index: 23;
    right: 15px;
    top:15px;
    cursor: pointer;

    .btn-line{
      width:28px;
      height: 3px;;
      margin: 0 0 5px 0;
      background: #fff;
      
  }
    }
  }
  
  & .nav-div{
    display: flex;
    justify-content: space-between;
    width:100%;
    & .menu-nav{
      display: flex;
      flex-direction: row;
      height: 10vh;
      width:100vw;
      margin:auto;
      justify-content: space-around;
      align-items: center;
     
      & .nav-item{
        list-style: none;
  
        & .nav-link{
          color:$iconColor;
          font-size:1.5rem;
          @include fontTransition;
          &.current{
            color:$seaColor;
          }
        
          &:hover{
            color:$seaColor;
          }
        }
      }
    }
  }
  
}