

@include mediaSm{
  .sec3{
      & .content-wrapper{
        margin-top:2rem;
        & .descrpition-wrapper{
          width:100%;
          & .wrapper-span{
            width:90%;
            display: flex;
            justify-content: center;
            & span{
              font-size:2rem;
            }
          }
          & .skills-wrapper{
            width:90%;
            & .skill{
              width:4.5em;
              height: 4.5rem;
            }
           }
           & .skills-desc{
             width:90%;
             margin-top:2rem;
             & .skills-paragraph{
               margin-top:1rem;
             }
           }
          }
        }
      }
}

@include mediaMd{
  .sec3{
    & .content-wrapper{
      margin-top:3rem;
      & .descrpition-wrapper{
        width:90%;
        & .wrapper-span{
          & span{
            font-size:2.5rem;
          }
        }
        & .skills-wrapper{
          width:90%;
          margin:3rem 0;
         }
        }
      }
    }
}

@include mediaLg{
  .sec3{
  & .content-wrapper{
    & .descrpition-wrapper{
      & .wrapper-span{
      }
      & .skills-wrapper{
        width:60%;
       }
      }
    }
  }  
}
// .sec3{
//   position: absolute;
//   top:15%;
//   left:-100%;
//   width:100vw;
//   min-height: 90vh;
  
//   & .content-wrapper{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top:1rem;
//     & .descrpition-wrapper{
//       width:60%;
//       // height: 50vh;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       & .wrapper-span{
//         margin-bottom:3rem;
//         & span{
//           color:$seaColor;
//           font-size:3.5rem;
//           visibility: hidden;
//           display: inline-block;
//           font-weight: 600;
//         }
//       }
//       & .skills-wrapper{
//         display: flex;
//         height: 100%;
//         width:45%;
//         flex-wrap: wrap;
//         justify-content: center;
       
//         & .skill{
//           width:5rem;
//           height: 5rem;
         
//           & img{
//             width:100%;
//             height: 100%;
//           }
//         }
//       }
//       & .skills-desc{
//         margin-top:4rem;
//         & .skills-paragraph{
//           color:#fff;
//           margin-bottom:0.3rem;
//           & a{
//             color:$seaColor;
//           }
//         }
//       }
//     }
//   }
// }