@include mediaXs{
  .sec1{
    & .left{
      width:90%;
      // min-width: 70%;
      // top:20%;
      & .headerWrapper{
        
        & span{
          color:white;
          font-size:2.5rem;
          &.dot{
            width:5px;
            height: 5px;
          }
        }
      }
      & h4{
        font-size:0.8rem;
      }
    }
  }
}

@include mediaSm{
  //navigation
  .navigation{
    display: none;     
    }
  .sec1{
    & .left{
      max-width:80%;
      min-width: 70%;
      top:20%;
      & a{
        width:60%;
      }
      & .headerWrapper{
        
        & span{
          color:white;
          font-size:3rem;
          &.dot{
            width:5px;
            height: 5px;
          }
        }
      }
      & h4{
        font-size:0.8rem;
      }
    }
    figure{
      position: absolute;
      top:45%;
      right:30%;
      width:40vw;
      height: 70vh;
      transform: rotate(20deg);
    }
    .polygon1{
      position: absolute;
      width: 30px;
      height: 30px;
      left: 80%;
      top: 35%;
      border-radius: 5px;
      border: 4px solid #E5F812;
      transform: rotate(-28.76deg);
      }
      .polygon2{
        left:60%;
        top:50%;
        width:40px;
        height: 40px;
        border: 5px solid red;
        transform: rotate(-58.76deg);
      }
      .polygon3{
        left:80%;
        top:20%;
        width:20px;
        height: 20px;
        border: 4px solid $seaColor;
        transform: rotate(-8.76deg);
      }
  }
}

@include mediaMd{
  .sec1{
    width:90vw;
    position: relative;
    left:5%;
    top:30%;
  
    & .left{
      width:60%;
     position: absolute;
     top:40%;
      & .headerWrapper{
        
        & span{
          color:white;
          font-size:2.5rem;
          &.dot{
            width:6px;
            height: 6px;
          }
        }
      }
      & h4{
        font-size:0.8rem;
      }
    }
    & figure{
      right:10%;
      height: 60vh;
      width:30vw;
    }
  }
  //navigation
  .navigation{
  display: none;     
  }

  .nav-mobile{
    z-index: 9999;
    height: 7vh;
    background: lighten($color: $blackColor, $amount: 1);
    padding:0.5rem;
    
    & .menu-wrapper{
      & .logo-div{
        width:10%;
        height: 100%;
        & img{
          width:100%;
          height: 100%;
        }
      }
      & .menu-btn{
      position: absolute;
      z-index: 23;
      right: 15px;
      top:15px;
      cursor: pointer;
  
      .btn-line{
        width:28px;
        height: 3px;;
        margin: 0 0 5px 0;
        background: #fff;
        
    }
      }
    }
    
    & .nav-div{
      display: flex;
      justify-content: space-between;
      width:100%;
      & .menu-nav{
        display: flex;
        flex-direction: row;
        height: 10vh;
        width:100vw;
        margin:auto;
        justify-content: space-around;
        align-items: center;
       
        & .nav-item{
          list-style: none;
    
          & .nav-link{
            color:$iconColor;
            font-size:1.5rem;
            
            &.current{
              color:$seaColor;
            }
          
            &:hover{
              color:$seaColor;
            }
          }
        }
      }
    }
  
}
@include mediaLg{
  .sec1{
    figure{
      top:30%;
      right:10%;
      width:25vw;
      height: 55vh;
    }
  }
  .nav-mobile{
    display: none;
  }
}
@include mediaXL{
  .nav-mobile{
    display: none;
  }
}
}