@import './varAndOthers';


.sec3{
  position: absolute;
  top:15%;
  left:-100%;
  width:100vw;
  min-height: 90vh;
  
  & .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    & .descrpition-wrapper{
      width:60%;
      // height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .wrapper-span{
        margin-bottom:3rem;
        & span{
          color:$seaColor;
          font-size:3.5rem;
          display: inline-block;
          font-weight: 600;
          font-family: 'Londrina Outline', cursive;

          &:hover{
            animation: rubberBand 0.8s;
            color:$seaColor;
            cursor: pointer;
          }
        }
      }
      & .skills-wrapper{
        display: flex;
        height: 100%;
        width:45%;
        flex-wrap: wrap;
        justify-content: center;
       
        & .skill{
          width:5rem;
          height: 5rem;
          &:hover{
            animation: rubberBand 0.8s;
          }
         
          & img{
            width:100%;
            height: 100%;
          }
        }
      }
      & .skills-desc{
        margin-top:4rem;
        & .skills-paragraph{
          color:#fff;
          margin-bottom:0.3rem;
          & a{
            color:$seaColor;
          }
        }
      }
    }
  }
}

@import './mobile_section3';