@import './varAndOthers';

.sec3{
  position: absolute;
  top:15%;
  left:-100%;
  width:100vw;
  min-height: 90vh;
  
  & .content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    & .descrpition-wrapper{
      width:60%;
      // height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & .wrapper-span{
        margin-bottom:3rem;
        & span{
          color:$seaColor;
          font-size:3.5rem;
          visibility: hidden;
          display: inline-block;
          font-weight: 600;
        }
      }
      & .skills-wrapper{
        display: flex;
        height: 100%;
        width:75%;
        flex-wrap: wrap;
        justify-content: center;
       
        & .skill{
          width:5rem;
          height: 5rem;
          &.right{
            // transform: translateX(45px);
          }
          & img{
            width:100%;
            height: 100%;
          }
        }
      }
    }
  }
}